/* Estilo global para el body */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

/* Estilo para el encabezado */
header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilo para el contenido dentro de la sección */
section {
    padding: 20px;
    text-align: center;
}

/* Estilo del canvas (el gráfico) */
canvas {
    width: 80%;
    height: 400px;
    margin: 0 auto;
}

/* Estilo para los textos descriptivos */
.description {
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}
